.thumb-container {
  padding:0;
}

.chart{
	background-color: #F5F2EB;
	border: 1px solid #CCC;
}
.bar{
	fill: #ff844c;
	shape-rendering: crispEdges;
}
.bar-label{
	fill: white;
	text-anchor:end;
	font-size: 10px;
}
